/* Landing Page */
.box {
    position: absolute;
    background-color: teal;
    height: 100%;
    width: 200px;
    left: 50px;
    top: 0px
}

.box1 {
    position: relative;
    background-color: white;
    height: 100%;
    width: auto;
    right: 100px;
    top: -5px
}

.box2 {
    position: absolute;
    background-color: white;
    height: 100%;
    width: auto;
    right: 100px;
    top: -5px
}

.box3 {
    position: absolute;
    background-color: white;
    height: 100%;
    width: auto;
    right: 50px;
    top: -5px
}

.font {
    position: absolute;
    color: white;
    font-size: 20px;
    vertical-align: middle;
}
.font1 {
    position: absolute;
    color: gray;
    font-size: 12px;
}

body {
    background-color: gray;
}

.box4 {
    position: absolute;
    background-color: white;
    height: 500px;
    width: 900px;
    left: 50px;
    top: 100px;
}

.box5 {
    position: absolute;
    background-color: white;
    height: 450px;
    width: 500px;
    right: 50px;
    top: 100px;
}

/*Found Code for Horizontal Line at https://stackoverflow.com/questions/14821087/horizontal-line-and-right-way-to-code-it-in-html-css*/
.hline {
    width:90%; 
    height:1px; 
    background: lightgray;
}

.font2 {
    color: teal;
    font-family: serif;
    font-size: 40px;
}

.font3 {
    color: gray;
    font-size: 18px
}

.box6 {
    position: fixed;
    background-color: gray;
    height: 30px;
    width: 100%;
    bottom: -15px;
    border-top: 5px;
    border-style: solid;
    border-color: cyan;
}

.font4 {
    position: fixed;
    color: white;
    font-size: 14px;
    vertical-align: middle;
    bottom: -10px;
}

/* Visualization Pages */
.box7 {
    position: absolute;
    background-color: white;
    height: 550px;
    width: 1300px;
    left: 100px;
    top: 100px; 
}

/* Comparisons Page */
.box8 {
    position: absolute;
    background-color: white;
    height: auto;
    width: 1300px;
    left: 100px;
    top: 100px; 
}

/* Data Page */
.box9 {
    position: absolute;
    background-color: white;
    height: auto;
    width: 1300px;
    left: 100px;
    top: 100px;
}

/* .container-fluid div {
    float: left;
    margin: 10px;
} */

/* Media Function */
/*@media (max-width: 1500px) {
.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    }
}*/